body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
    background-color: rgb(43, 45, 45);
  }

  .top {
    flex-direction: row;
  }

  #start {
    display: grid;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: firebrick;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    width: 13%;
    height: 23px;
    margin-left: 286px;
    margin-bottom: 10px;
  }

  #start:hover {
    background-color: salmon;
    color: bisque;
    border: 1px double crimson;
    transform: scale(1.17);
    transition: transform 142ms ease-in;
  }
  
  .stick {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: dodgerblue;
    border: 2px double navy;
    top: 200px;
    left: 600px;
  }
  
  .puck {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: chartreuse;
    border: 1px solid forestgreen;
    top: 220px;
    left: 333px;
    box-sizing: content-box;
    overflow: hidden;
    visibility: visible;
  }
  
  .ice {
    overflow: hidden;
    width: 666px;
    height: 420px;
    border: 16px double crimson;
    border-radius: 10%;
    background-color: whitesmoke;
    margin-bottom: -25px;
  }

  .goal1 {
    position: absolute;
    width: 25px;
    height: 200px;
    background-color: grey;
    border: 2px double black;
    left: 678px;
    top: 150px;
  }
  .goal2 {
    position: absolute;
    width: 25px;
    height: 200px;
    background-color: grey;
    border: 2px double black;
    left: 7px;
    top: 150px;
  }

  h1 {
    font-size: 42px;
    color: rgba(220, 20, 60, .86);
    text-shadow: -1px 1px whitesmoke, -2px 2px black;
    margin-bottom: -15px;
    margin-left: 90px;
  }

  h2 {
    color: whitesmoke;
    text-shadow: -1px 1px crimson, -2px 2px black;
    font-size: 20px;
    margin-left: 166px;
  }

  #faceOffText {
    color: rgba(220, 20, 60, .86);
    text-shadow: -1px 1px whitesmoke, -2px 2px black;
    font-size: 26px;
  }

  #scoreText {
    color: whitesmoke;
    text-shadow: -1px 1px chartreuse -2px 2px black;
    border: 2px solid crimson;
    font-size: 24px;
    margin-left: 255px;
    margin-bottom: 25px;
    width: 150px;
    background-color: black;
  }

 
  
